.dropdown-menu{
    width: 150px;
    position: absolute;
    top: 72px;
    list-style: none;
    text-align: center;
    
}

.dropdown-menu li{
    background: linear-gradient(90deg, rgb(1, 4, 22) 0%, rgb(3, 3, 22) 100%);
    cursor : pointer;
}

.dropdown-menu li:hover{
    background: rgb(45,12,70);
background: linear-gradient(90deg, rgba(45,12,70,1) 7%, rgba(2,0,36,1) 14%, rgba(22,16,59,1) 31%, rgba(6,58,73,1) 48%, rgba(4,115,140,1) 65%, rgba(0,212,255,1) 94%);
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    color: white;
}

@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
    .dropdown-menu{
        visibility: hidden;
    }
  }

